<div class="sixteen wide right aligned column">
	<button class="ui big red button add-complaint-button" (click)="addComplaintModal.show({blurring: true, closable: false})">Добавить жалобу</button>
</div>

<sm-modal title="Добавление жалобы" class="ui long fullscreen modal" #addComplaintModal>
	<modal-content>
		<form class="ui form" (ngSubmit)="addComplaint(addComplaintForm)" #addComplaintForm="ngForm">
			<h4 class="ui dividing header">Информация о мошеннике</h4>

			<div class="field-group" *ngFor="let something of complaint.company; trackBy: trackByIndex; let index = index">
				<div class="field">
					<label>Компания</label>
					<input type="text" name="company" placeholder="Компания" [(ngModel)]="complaint.company[index]">
				</div>
				
				<div app-add-remove-field (onAddField)="addField(index, 'company')" (onRemoveField)="removeField(index, 'company')" isAddAllowed="isAddAllowed('company')" isRemoveAllowed="isRemoveAllowed('company')"></div>
			</div>

			<div class="field-group" *ngFor="let something of complaint.name; trackBy: trackByIndex; let index = index">
				<div class="three fields">
					<div class="field">
						<label>Имя</label>
						<input type="text" name="name" placeholder="Имя" [(ngModel)]="complaint.name[index]">
					</div>

					<div class="field">
						<label>Фамилия</label>
						<input type="text" name="surname" placeholder="Фамилия" [(ngModel)]="complaint.surname[index]">
					</div>

					<div class="field">
						<label>Отчество</label>
						<input type="text" name="patronymic" placeholder="Отчество" [(ngModel)]="complaint.patronymic[index]">
					</div>
				</div>
				<div app-add-remove-field (onAddField)="addField(index, 'name', 'surname', 'patronymic')" (onRemoveField)="removeField(index, 'name', 'surname', 'patronymic')" isAddAllowed="isAddAllowed('name')" isRemoveAllowed="isRemoveAllowed('name')"></div>
			</div>

			<div class="field-group" *ngFor="let something of complaint.country; trackBy: trackByIndex; let index = index">

				<div class="three fields">
					<div class="field">
						<label>Страна</label>
						<sm-select
						[(model)]="complaint.country[index]"
						placeholder="Страна"
						class="fluid search">
							<option *ngFor="let country of countries" value="{{country.code}}"><i class="{{country.code | lowercase}} flag"></i>{{country.name}}</option>
						</sm-select>
					</div>

					<div class="field">
						<label>Город</label>
						<input name="city" placeholder="Отчество" type="text" [(ngModel)]="complaint.city[index]">
					</div>

					<div class="field">
						<label>Адрес</label>
						<input name="address" placeholder="Адрес" type="text" [(ngModel)]="complaint.address[index]">
					</div>
				</div>
				<div app-add-remove-field (onAddField)="addField(index, 'country', 'city', 'address')" (onRemoveField)="removeField(index, 'country', 'city', 'address')" isAddAllowed="isAddAllowed('country')" isRemoveAllowed="isRemoveAllowed('country')"></div>
			</div>
			

			

			

			<div class="field">
				<label>Номер телефон (одно из важнейших полей)(паттерн и код страны)</label>
				<input name="phone" placeholder="Номер телефона" type="text">
			</div>

			<div class="field">
				<label>Сайт или страница с объявлением</label>
				<div class="ui labeled input">
					<div class="ui label">
						http://
					</div>
					<input placeholder="mysite.com" type="text">
				</div>
			</div>


			


			<h4 class="ui dividing header">Описание проблемы</h4>

			<div class="field required">
				<label>Суть проблемы кратко (заголовок)</label>
				<input name="problem-short" placeholder="Суть проблемы кратко" type="text">
			</div>

			<div class="field required">
				<label>Суть проблемы полностью</label>
				<textarea nmae="problem-full" rows="8"></textarea>
			</div>

			<div class="field required">
				<!-- sm-checkbox is not working https://github.com/vladotesanovic/ngSemantic/issues/100 -->

				<div class="ui checkbox">
					<input  type="checkbox">
					<label>I agree to the Terms and Conditions</label>
				</div>
			</div>

			<button class="ui button" type="submit">Submit</button>
		</form>



Данные мошенника

	Номер телефона (с паттерном и кодом страны)
	

	Skype
	E-mail
	Банковская карта
	Страница с профилем




  </modal-content>
  <modal-actions>
    <div class="ui cancel button">Cancel</div>
    <div class="ui ok button">Добавить</div>
  </modal-actions>
</sm-modal>