<form class="ui form" (ngSubmit)="addComplaintService.addComplaint(addServiceComplaintForm)" #addServiceComplaintForm="ngForm" novalidate>

	<h4 class="ui dividing header">Информация о мошеннике</h4>

	<div class="field-group" *ngFor="let something of complaint.company; trackBy: trackByIndex; let index = index">
		<div class="two fields">
			<div class="field">
				<label>Компания</label>
				<!-- inside sm-modal input element loose it's values (or don't use modal, or use native modal) -->
				<input type="text" name="company-{{index}}" placeholder="Компания" [(ngModel)]="complaint.company[index]">
			</div>

			<div class="field">
				<label>Сайт компании</label>
				<input type="url" name="site-{{index}}" placeholder="http://site.com" [(ngModel)]="complaint.site[index]">
			</div>
		</div>
		
		<div app-add-remove-field (onAddField)="addField(index, 'company')" (onRemoveField)="removeField(index, 'company')" [isAddAllowed]="isAddAllowed('company')" [isRemoveAllowed]="isRemoveAllowed('company')"></div>
	</div>

	<div class="field-group" *ngFor="let something of complaint.surname; trackBy: trackByIndex; let index = index">
		<div class="three fields">
			<div class="field">
				<label>Фамилия</label>
				<input type="text" name="surname-{{index}}" placeholder="Фамилия" [(ngModel)]="complaint.surname[index]">
			</div>

			<div class="field">
				<label>Имя</label>
				<input type="text" name="name-{{index}}" placeholder="Имя" [(ngModel)]="complaint.name[index]">
			</div>

			<div class="field">
				<label>Отчество</label>
				<input type="text" name="patronymic-{{index}}" placeholder="Отчество" [(ngModel)]="complaint.patronymic[index]">
			</div>
		</div>
		<div app-add-remove-field (onAddField)="addField(index, 'name', 'surname', 'patronymic')" (onRemoveField)="removeField(index, 'name', 'surname', 'patronymic')" [isAddAllowed]="isAddAllowed('name')" [isRemoveAllowed]="isRemoveAllowed('name')"></div>
	</div>

	<div class="field-group" *ngFor="let something of complaint.country; trackBy: trackByIndex; let index = index">
		<div class="three fields">
			<div class="field">
				<label>Страна</label>

				<!-- Because of ngSemantic variables are not updated inside sm-select -->
				<sm-select
				[(model)]="complaint.country[index]"
				placeholder="Страна"
				class="fluid search">
					<option value="">Не выбрано</option><!-- todo !!! -->
					<option *ngFor="let country of countries;" [selected]="country.selected" value="{{country.code}}"><i class="{{country.code}} flag"></i>{{country.name}}</option>
				</sm-select>
			</div>

			<div class="field">
				<label>Город</label>
				<input name="city-{{index}}" placeholder="Город" type="text" [(ngModel)]="complaint.city[index]">
			</div>

			<div class="field">
				<label>Адрес</label>
				<input name="address-{{index}}" placeholder="Адрес" type="text" [(ngModel)]="complaint.address[index]">
			</div>
		</div>
		<div app-add-remove-field (onAddField)="addField(index, 'country', 'city', 'address')" (onRemoveField)="removeField(index, 'country', 'city', 'address')" [isAddAllowed]="isAddAllowed('country')" [isRemoveAllowed]="isRemoveAllowed('country')"></div>
	</div>
	
	<div class="field-group" *ngFor="let something of complaint.phone; trackBy: trackByIndex; let index = index">
		<div class="two fields">
			<div class="field">
				<label>Телефон <span *ngIf="index === 0">(одно из важнейших полей)</span></label>
				<input type="tel" name="phone-{{index}}" [placeholder]="getPhoneMask()" [(ngModel)]="complaint.phone[index]">
			</div>

			<div class="field">
				<label>Номер банковской карты</label>
				<input type="text" name="bank-card-{{index}}" [(ngModel)]="complaint.bankCard[index]">
			</div>
		</div>
		
		<div app-add-remove-field (onAddField)="addField(index, 'phone')" (onRemoveField)="removeField(index, 'phone')" [isAddAllowed]="isAddAllowed('phone')" [isRemoveAllowed]="isRemoveAllowed('phone')"></div>
	</div>

	<h4 class="ui dividing header">Описание проблемы</h4>

	<div class="field required" [ngClass]="{error: addComplaintService.submitted && problemShort.invalid}">
		<label>Суть проблемы кратко (заголовок)</label>
		<input type="text" name="problem-short" placeholder="Суть проблемы кратко" [(ngModel)]="complaint.problemShort" #problemShort="ngModel" required>
	</div>

	<div class="field required" [ngClass]="{error: addComplaintService.submitted && problemFull.invalid}">
		<label>Суть проблемы полностью и другие контактные данные</label>
		<textarea name="problem-full" rows="8" placeholder="Суть проблемы полностью и другие контактные данные" [(ngModel)]="complaint.problemFull" #problemFull="ngModel" required></textarea>
	</div>

	<div class="field required" [ngClass]="{error: addComplaintService.submitted && agree.invalid}">
		<!-- sm-checkbox is not working https://github.com/vladotesanovic/ngSemantic/issues/100 -->

		<div class="ui checkbox">
			<input type="checkbox" name="agree" id="agree" [(ngModel)]="complaint.agree" #agree="ngModel" required pattern="true">
			<label for="agree">Даю слово, что указанная мною информация правдива и объективна</label>
		</div>
	</div>
	<div class="buttons-outer">
		<button type="button" class="ui cancel button" (click)="addComplaintService.back()">Отмена</button>
		<button type="submit" class="ui red button" [ngClass]="{loading: addComplaintService.loading}">Добавить</button>
	</div>
</form>