<div class="row">
	<div class="right aligned column">
		<button class="ui big red button" (click)="addComplaintModal.show({blurring: true, closable: false})">Добавить жалобу</button>
	</div>
</div>

<div class="row">
	<div class="column">
		<sm-modal title="Добавление жалобы" class="ui long fullscreen modal" #addComplaintModal>
			<modal-content>
			<!-- use menu instead of tabs -->
				<sm-tabs>
					<sm-tab title="Услуга">
						<form class="ui form" (ngSubmit)="addComplaint(addServiceComplaintForm)" #addServiceComplaintForm="ngForm" novalidate>

							<h4 class="ui dividing header">Информация о мошеннике</h4>

							<div class="field-group" *ngFor="let something of complaint.company; trackBy: trackByIndex; let index = index">
								<div class="two fields">
									<div class="field">
										<label>Компания</label>
										<!-- inside sm-modal input element loose it's values (or don't use modal, or use native modal) -->
										<input type="text" name="company" placeholder="Компания" [(ngModel)]="complaint.company[index]">
									</div>

									<div class="field">
										<label>Сайт компании</label>
										<input type="url" name="site" placeholder="http://site.com" [(ngModel)]="complaint.site[index]">
									</div>
								</div>
								
								<div app-add-remove-field (onAddField)="addField(index, 'company')" (onRemoveField)="removeField(index, 'company')" [isAddAllowed]="isAddAllowed('company')" [isRemoveAllowed]="isRemoveAllowed('company')"></div>
							</div>

							<div class="field-group" *ngFor="let something of complaint.name; trackBy: trackByIndex; let index = index">
								<div class="three fields">
									<div class="field">
										<label>Имя</label>
										<input type="text" name="name" placeholder="Имя" [(ngModel)]="complaint.name[index]">
									</div>

									<div class="field">
										<label>Фамилия</label>
										<input type="text" name="surname" placeholder="Фамилия" [(ngModel)]="complaint.surname[index]">
									</div>

									<div class="field">
										<label>Отчество</label>
										<input type="text" name="patronymic" placeholder="Отчество" [(ngModel)]="complaint.patronymic[index]">
									</div>
								</div>
								<div app-add-remove-field (onAddField)="addField(index, 'name', 'surname', 'patronymic')" (onRemoveField)="removeField(index, 'name', 'surname', 'patronymic')" [isAddAllowed]="isAddAllowed('name')" [isRemoveAllowed]="isRemoveAllowed('name')"></div>
							</div>

							<div class="field-group" *ngFor="let something of complaint.country; trackBy: trackByIndex; let index = index">
								<div class="three fields">
									<div class="field">
										<label>Страна</label>

										<!-- Because of ngSemantic variables are not updated inside sm-select -->
										<sm-select
										[(model)]="complaint.country[index]"
										placeholder="Страна"
										class="fluid search">
											<option *ngFor="let country of countries;" [selected]="country.selected" value="{{country.code}}"><i class="{{country.code}} flag"></i>{{country.name}}</option>
										</sm-select>
									</div>

									<div class="field">
										<label>Город</label>
										<input name="city" placeholder="Город" type="text" [(ngModel)]="complaint.city[index]">
									</div>

									<div class="field">
										<label>Адрес</label>
										<input name="address" placeholder="Адрес" type="text" [(ngModel)]="complaint.address[index]">
									</div>
								</div>
								<div app-add-remove-field (onAddField)="addField(index, 'country', 'city', 'address')" (onRemoveField)="removeField(index, 'country', 'city', 'address')" [isAddAllowed]="isAddAllowed('country')" [isRemoveAllowed]="isRemoveAllowed('country')"></div>
							</div>
							
							<div class="field-group" *ngFor="let something of complaint.phone ; trackBy: trackByIndex; let index = index">
								<div class="three fields">
									<div class="field">
										<label>Телефон #1 (одно из важнейших полей)</label>
										<input type="tel" name="phone" placeholder="Телефон" [(ngModel)]="complaint.phone[index][0]" [appInputMask]="getPhoneMask()">
									</div>

									<div class="field">
										<label>Телефон #2</label>
										<input type="tel" name="phone" placeholder="Телефон" [(ngModel)]="complaint.phone[index][1]" [appInputMask]="getPhoneMask()">
									</div>

									<div class="field">
										<label>Телефон #3</label>
										<input type="tel" name="phone" placeholder="Телефон" [(ngModel)]="complaint.phone[index][2]" [appInputMask]="getPhoneMask()">
									</div>
								</div>
								
								<div app-add-remove-field (onAddField)="addField(index, 'phone')" (onRemoveField)="removeField(index, 'phone')" [isAddAllowed]="isAddAllowed('phone')" [isRemoveAllowed]="isRemoveAllowed('phone')"></div>
							</div>

							<h4 class="ui dividing header">Описание проблемы</h4>

							<div class="field required" [ngClass]="{error: submitted && problemShort.invalid}">
								<label>Суть проблемы кратко (заголовок)</label>
								<input type="text" name="problem-short" placeholder="Суть проблемы кратко" [(ngModel)]="complaint.problemShort" #problemShort="ngModel" required>
							</div>

							<div class="field required" [ngClass]="{error: submitted && problemFull.invalid}">
								<label>Суть проблемы полностью и другие контактные данные</label>
								<textarea name="problem-full" rows="8" placeholder="Суть проблемы полностью и другие контактные данные" [(ngModel)]="complaint.problemFull" #problemFull="ngModel" required></textarea>
							</div>

							<div class="field required" [ngClass]="{error: submitted && agree.invalid}">
								<!-- sm-checkbox is not working https://github.com/vladotesanovic/ngSemantic/issues/100 -->

								<div class="ui checkbox">
									<input type="checkbox" name="agree" id="agree" [(ngModel)]="complaint.agree" #agree="ngModel" required pattern="true">
									<label for="agree">Даю слово, что указанная мною информация правдива и объективна</label>
								</div>
							</div>
						</form>
					</sm-tab>
					<sm-tab title="Товар">
						<form class="ui form" (ngSubmit)="addComplaint(addProductComplaintForm)" #addProductComplaintForm="ngForm" novalidate>

							<h4 class="ui dividing header">Информация о товаре</h4>

							<div class="two fields">
								<div class="field required">
									<label>Название товара</label>
									<input type="text" name="product-name" placeholder="Название товара" [(ngModel)]="complaint.productName" required>
								</div>

								<div class="field">
									<label>Штрих код</label>
									<input type="url" name="barcode" placeholder="ХХХХХХХХХ" [(ngModel)]="complaint.barcode">
								</div>
							</div>

							<h4 class="ui dividing header">Описание проблемы</h4>

							<div class="field required" [ngClass]="{error: submitted && problemShort.invalid}">
								<label>Суть проблемы кратко (заголовок)</label>
								<input type="text" name="problem-short" placeholder="Суть проблемы кратко" [(ngModel)]="complaint.problemShort" #problemShort="ngModel" required>
							</div>

							<div class="field required" [ngClass]="{error: submitted && problemFull.invalid}">
								<label>Суть проблемы полностью и другие данные о товаре</label>
								<textarea name="problem-full" rows="8" placeholder="Суть проблемы полностью и другие данные о товаре" [(ngModel)]="complaint.problemFull" #problemFull="ngModel" required></textarea>
							</div>

							<div class="field required" [ngClass]="{error: submitted && agree.invalid}">
								<!-- sm-checkbox is not working https://github.com/vladotesanovic/ngSemantic/issues/100 -->

								<div class="ui checkbox">
									<input type="checkbox" name="agree" id="agree" [(ngModel)]="complaint.agree" #agree="ngModel" required pattern="true">
									<label for="agree">Даю слово, что указанная мною информация правдива и объективна</label>
								</div>
							</div>
						</form>
					</sm-tab>
				</sm-tabs>
			</modal-content>
			<modal-actions>
				<button class="ui cancel button">Отмена</button>
				<button class="ui red button" [ngClass]="{loading: loading}" (click)="addComplaint(addServiceComplaintForm)">Добавить</button>
			</modal-actions>
		</sm-modal>
	</div>
</div>