<app-add-complaint-button></app-add-complaint-button>

<app-search></app-search>

<app-last-added-complaints class="row section"></app-last-added-complaints>

<section class="row section">
	<article class="column">
		<h2 class="heading-bottom">Полезные статьи</h2>
		<div class="ui stackable three column divided grid">
			<div class="column">
				<a routerLink="chto-delat-esli-vas-obmanuli-v-internete"><img src="/images/what-to-do.jpg" alt="Что делать если вас обманули в интернете?" class="article-image">
				<h3>Что делать если вас обманули в интернете?</h3></a>
			</div>
			<div class="column">
				
			</div>
			<div class="column">
				
			</div>
		</div>
	</article>
</section>
