 <div class="ui container">
	<div class="ui grid">
		<div class="sixteen wide center aligned column">
			<h1>База мошенников</h1>
		</div>

		<app-add-complaint class="row"></app-add-complaint>

		<div class="sixteen wide column">
			<h1>Поиск по базе мошенников</h1>
			<div class="ui action left icon big fluid input">
				<i class="search icon"></i>
				<input type="text" placeholder="Данные мошенника: Компания, фамилия, телефон, ...">
				<button class="ui teal button">Поиск</button>
			</div>

		</div>
	</div>
</div>
