 <div class="ui container">
	<div class="ui grid">
		<div class="row">
			<div class="center aligned column">
				<h1>База мошенников</h1>
			</div>
		</div>

		<app-add-complaint class="section"></app-add-complaint>

		<div class="row section">
			<div class="column">
				<h2>Быстрый поиск по базе мошенников</h2>
				<div class="ui action left icon big fluid input">
					<i class="search icon"></i>
					<input type="text" placeholder="Данные мошенника: Компания, фамилия, телефон, ...">
					<button class="ui big teal button">Поиск</button>
				</div>
				<p class="advanced-search"><a href="#">Расширенный поиск</a></p>
			</div>
		</div>

		<app-last-added-complaints class="row section"></app-last-added-complaints>

		<div class="row section">
			<div class="column">
				<h2 class="heading-bottom">Полезные статьи</h2>
				<div class="ui stackable three column divided grid">
					<div class="column">
						<a href="#"><img src="/images/what-to-do.jpg" alt="Что делать если вас обманули в интернете?" style="max-width: 100%; height: auto;">
						<h3>Что делать если вас обманули в интернете?</h3></a>
					</div>
					<div class="column">
						
					</div>
					<div class="column">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
