/* You can add global styles to this file, and also import other style files */

router-outlet + * {
	display: block;
	width: 100%;
}

.section {
	display: block;
	margin-bottom: 40px;
}
.advanced-search {
	margin-top: 10px;
}
.heading-bottom {
	padding-bottom: 1rem;
}

.header-navigation {
	display: table;
	width: 100%;
}
.header-navigation > * {
	display: table-cell;
}
.breadcrumb > * {
	margin-bottom: 40px;
}