/* You can add global styles to this file, and also import other style files */

router-outlet + * {
	display: block;
	width: 100%;
}

.section {
	display: block;
	margin-bottom: 40px;
}
.advanced-search {
	margin-top: 10px;
}
.heading-bottom {
	padding-bottom: 1rem;
}

.header-navigation {
	display: table;
	width: 100%;
}
.header-navigation > * {
	display: table-cell;
	vertical-align: top;
}
.breadcrumb {
	/* Apply same styles as button has */
	padding: 1rem 0;
	line-height: 1.28571rem !important;
	margin-bottom: 40px !important;
}
.ui.stackable.divided.grid:not(.vertically) > .column:not(.row),
.ui.stackable.divided.grid:not(.vertically) > .row > .column {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}