<div class="ui breadcrumb">
	<a class="section" routerLink="/">Главная</a>
	<i class="right angle icon divider"></i>
	<div class="active section">Добавление жалобы</div>
</div>

<div class="row">
	<div class="column">

		<div class="ui big simple secondary pointing menu">
			<a routerLink="/add-complaint/service" routerLinkActive="active" class="item">Услуга</a>
			<a routerLink="/add-complaint/product" routerLinkActive="active" class="item">Товар</a>
		</div>

		<router-outlet></router-outlet>
	</div>
</div>